.header{
    position: fixed;
    width: 100%;
    height: 50px;
    background: #373d41;
    z-index: 101;
}
.logo_image{
    width: 30%;
    height: 50px;
}
.logo_icon{
    padding: 0 10px;
    height: 50px;
    text-align: center;
}
.logo_icon>img{
    margin-left: 10%;
    margin-top: 5px;
    width: 40px;
    height: 40px;
}
.title{
    padding: 0 15px;
    height:50px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    border-left:1px solid #000;
    border-right: 1px solid #000;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.width70{
    width: 70%;
    height: 50px;
}
.seek{
    display: block;
    z-index: 2;
    color:#fff;
    background: #373d41;
    border-right: 1px solid #2a2f32;
    position: relative;
}
.seek>.input>input{
    position: absolute;
    right: 0;
    top:48px;
    padding: 10px 30px 10px 5px;
    border: 2px solid #000000;
}
.input{
    display: none;
}
.user_id>span{
    display: -webkit-box;
    width: 100px;
    line-height: 50px;
    height: 50px;
    color: #ffffff;
    text-align: -webkit-center;
    position: relative;
}
.position_abs{
    position: absolute;
    top:50px;
    right: 0;
    border: 1px solid #eeeeee;
    display: none;
    background: #fff;
}
.bg_image{
    display: block;
    margin-top: 11px;
    width: 25px;
    height: 25px;
    background: url('/static/share.png')no-repeat center;
    background-size: 64%;
}
.height50{
    height:50px;
}
.width30{
    width:30px;
    height: 30px;
}
.padding10{
    margin: 5px;
    padding: 5px;
}
.width80{
    width: 80px;
    text-align: center;
}
.line_height{
    line-height: 50px;
    text-align: center;
    border-top:1px solid #eeeeee;
}
.bg_hover:hover{
    background: #f5f5f5;
}
.huiche{
    position: absolute;
    top: 55px;
    right: 0;
    display: block;
    width: 40px;
    height: 26px;
    background: url('/static/huiche.png')no-repeat center;
    background-size: 60% 60%;
}
.hover:hover{
    background: #2a2f32;
}
.hover:hover .position_abs{
    display: block;
}
.hover:hover .input{
    display: block;
}
/*nav*/

.nav {
    position: fixed;
    top: 50px;
    bottom: 0px;
    background-color: #293038;
    z-index: 102;
    overflow-x: hidden;
    cursor: pointer;
}
.nav_on_off{
    width:190px;
    height: 40px;
    text-align: center;
    background: #42485B;
}
.nav_on_off>p>b{
    display: block;
    background: url('/static/no_icon.png')no-repeat center;
    width: 100%;
    height: 40px;
    background-size: 20px 20px;
}
.nav_on_off>p>b.active_b{
    display: block;
    background: url('/static/nav_icon.png')no-repeat center;
    width: 100%;
    height: 40px;
    background-size: 20px 20px;
}
.nav_line_height{
    line-height: 40px;
    height: 40px;
    width: 100%;
    text-align: center;
    background: #42485B;
    position: relative;
    z-index: 100000;
}
.nav_line_height>a{
    color: #ffffff;
}
.nav_home{
    overflow: hidden;
    width: 100%;
}
.fa_icon{
    margin-left: 30px;
    margin-top: 13px;
    margin-right: 27px;
    width:0;
    height:0;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #ffffff;
}
.checked .fa_icon{
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 27px;
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #ffffff;
}
.home_index{
    width: 100%;
}
.home_index>li{
    height: 40px;
    line-height: 40px;
    text-align: left;
    position: relative;
    z-index: 10000000;
}
.home_index>li>a{
    color: #ffffff;
}
.home_index>li:hover{
    background: #00C1DE;
}
.bg_banner_icon{
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.bg_banner_icon>img{
    width: 90%;
    height:90%;
    padding-left:5%;
    padding-top: 5%;
}
.nav_banner{
    height: 40px;
    line-height: 40px;
}
.nav_banner_text{
    width: 67%;
    float: right;
}
.bg_banner_icon1{
    display: block;
    background: url('/static/hezuo.png')no-repeat  center;
    width: 30%;
    height: 40px;
    background-size: 50% 50%;
    float: left;
    overflow: hidden;
}
.bg_banner_icon2{
    display: block;
    background: url('/static/xilie.png')no-repeat  center;
    width: 30%;
    height: 40px;
    background-size: 50% 50%;
    float: left;
    overflow: hidden;
}
.bg_banner_icon3{
    display: block;
    background: url('/static/paiming.png')no-repeat  center;
    width: 30%;
    height: 40px;
    background-size: 50% 50%;
    float: left;
    overflow: hidden;
}
.bg_banner_icon4{
    display: block;
    background: url('/static/tuijian.png')no-repeat  center;
    width: 30%;
    height: 40px;
    background-size: 50% 50%;
    float: left;
    overflow: hidden;
}
.bg_hover_nav{
    width: 115px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left:75px;
    z-index: 10000;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    display: none;
}
.bg_hover_nav>b{
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid rgba(0,0,0,0.5);
    position: absolute;
    left: -10px;
    top: 9px;
}
.bg_hover_nav_home{
    width: 115px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    position: fixed!important;
    left:75px;
    z-index: 10000;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    display:none;
}

.bg_hover_nav_home>b{
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid rgba(0,0,0,0.5);
    position: absolute;
    left: -10px;
    top: 9px;
}

/**球队*/
.header1 {
    width: 100%;
    height: 450px;
    background: url('/static/automobile0.jpg') no-repeat center;
    background-size: 100% 100%;
}
.header1>ul.row {
    width: 100%;
    height: 100%;
    text-align: -webkit-center;
}
.header1>ul>li.back {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-size: 60%;
}
.header1>ul>li.textCenter {
    padding-top: 30px;
    text-align: center;
}
.header1>ul>li.textCenter>img{
    width: 100%;
    height:60%;
}
.string>div>div:nth-of-type(1) {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.header1>ul>li.textCenter>div.string>div>b {
    font-size: 16px;
    color: #ffffff;
}
.section_title {
    width: 100%;
    text-align: center;
    background: #fff;
}
.section_title>ul {
    padding-top: 5px;
    padding-bottom: 5px;
}
.section_title>ul>li {
    text-align: center;
    padding: 2%;
}
.section_title>ul>li>img {
    width: 20px;
    height: 20px;
}
.section_title>ul>li>div {
    color: #111111;
    font-size: 12px;
}
.section {
    width: 92%;
    padding: 0 4%;
    background: #fff;
}
.section>div.title_image {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
    padding-left: 10px;
}
.section>div.title_image>img {
    width: 70px;
}
.section>ul.signup_text {
    height: 40px;
    line-height: 40px;
    color: #373737;
    font-size: 14px;
    position: relative;
}
.section>ul.signup_text>li:nth-of-type(1) {
    width: 4px;
    height: 4px;
    background: #ff3333;
    border-radius: 2px;
    position: absolute;
    top: 18px;
    margin-right: 10px;
    margin-left: 10px;
}
.section>ul.signup_text>li:nth-of-type(2) {
    padding-left: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.section>ul.signup_text>li:nth-of-type(3) {
    width: 70px;
    height: 40px;
    text-align: center;
}
.section>ul.signup_text>li:nth-of-type(3)>img {
    width: 50px;
    height: 25px;
    padding-top: 10px;
}
.clearfix10{
    background: #eeeeee;
    height: 10px;
    width: 100%;
}

/*banner  nav*/
section{
    width: auto;
    position: absolute;
    top: 50px;
    left: 60px;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
    background: #FFF;
}
.banner_nav{
    width: 180px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left:0;
    background-color: #EAEDF1;
    z-index: 2;
    overflow-y: auto;
}



.viewFramework-sidebar-mini,.viewFramework-sidebar-mini.width100{
    left: 180px;
}
.viewFramework-sidebar-full,.viewFramework-sidebar-full.width100{
    left:60px;
}
section>.banner_nav>h4{
    height: 80px;
    color:#FFFFFF;
    font-weight:500;
    font-size: 16px;
    line-height: 80px;
    padding-left: 20px;
    background: #012f50;
}
div.nav + section{
    left:190px;
}
div.nav1 + section {
    left:60px;
}
section>.banner_nav>ul>li>a{
    height: 40px;
    line-height:40px;
    padding-left: 40px;
}
div.banner_nav2 + div.position_right{
    left:0;
    background: #eee url(/static/locker_you.png)no-repeat center;
    background-size: 50%;
    height: 50px;
    width: 20px;
    position: absolute;
    top: 50%;
    z-index: 3;
}
div.banner_nav2 + div.position_right + div.left180{
    left:0;
}
section>.banner_nav>ul>li.banner_active{
    background: #ffffff;
}
.tema_hands>li{
    height: 40px;
    line-height: 40px;
    padding-left: 60px;
}
.width100{
    position: absolute;
    width: auto;
    top: 0px;
    bottom: 0px;
    left: 180px;
    right: 0px;
    overflow-x: auto;
}
.locker:hover{
    -webkit-transform: scale(1.1);
}
.locker_active:hover{
    -webkit-transform: scale(1.1);
}
.locker{
    background:#FFFFFF url('/static/locker_zuo.png')no-repeat center;
    background-size: 50%;
    height: 50px;
    width: 20px;
    position: absolute;
    top: 50%;
    z-index: 3;
}
.locker_active{
    background: #dddddd url('/static/locker_you.png')no-repeat center;
    background-size: 50%;
    height: 50px;
    width: 20px;
    position: absolute;
    top: 50%;
    z-index: 3;
}
.viewFramework-sidebar-full .left180, .viewFramework-sidebar-mini .left180{
    left:180px;
}
.viewFramework-sidebar-full-col .left180{
    left:0;
}
.position_right{
    left:160px;
}
.tema_palyer{
    width: 96%;
    margin: 2%;
}

.width_nav_width{
    height: 100%;width: 50%;float: left;
}
.width_nav_width1{
    height: 100%;width: 30%;float: left;
}
.padding_Top10{
    padding-top: 10%;
}

/*最小屏幕的控制*/
@media all and (min-width: 700px)and (max-width:1250px){    
    .nav_on_off{
        width: 60px;
    }
  /*  .viewFramework-sidebar-full, .viewFramework-sidebar-full.width100{
        left:60px;
    }*/
    .nav_banner_text{
        display: none;
    }
    .width_nav_width{
        height: 100%;
        width: 100%;
        float: left;
    }
    .width_nav_width1{
    height: 100%;width: 100%;float: left;
}
  /*  section{
        left: 60px;
    }*/
}
